<% content_for :pre_container do -%>
<%= render 'static_pages/parallax_header', text: 'Casinos', img_url: 'bg-roulette.jpg' -%>
<% end -%>

<div class="row">
	<%= render 'layouts/featured_images', items: @casinos, sample: 4 -%>
</div>


<div class="row">

	<div class="col-sm-12 col-sm-offset-0">

		<div class="thumbnail">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li class="active"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
				<li><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="map">

					<div class="embed-responsive embed-responsive-map">
						<%= content_tag :iframe, nil, src: maps_casinos_path, class: 'embed-responsive-item' %>
					</div>

				</div>
				<div role="tabpanel" class="tab-pane" id="list">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Destination</th>
							</tr>
						</thead>

						<tbody>
							<%= render @casinos %>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>

</div>


<% if is_admin? -%>
<hr>
<%= link_to 'New Casino', new_admin_casino_path %>
<% end -%>
