<li class="nested-fields list-group-item">
	<div class="list-group-item-text">

		<div class="form-group">
			<%= f.label :port_id %>
			<div class="input-group input-group-sm">
				<%= f.collection_select :port_id, Port.all, :id, :name, {prompt: 'Select Port'}, {class: 'form-control'} %>
				<span class="input-group-btn">
					<%= link_to_remove_association fa_icon('remove'), f, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
				</span>
			</div>
		</div>

		<% usec = Time.now.usec -%>
		<div class="row">
			<div class="col-sm-6">
				<%= render 'admin/admin/datepicker', f: f, field: :start_string, label: 'Arriving Time', dtp_class: 'start', usec: usec -%>
			</div>
			<div class="col-sm-6">
				<%= render 'admin/admin/datepicker', f: f, field: :end_string, label: 'Departing Time', dtp_class: 'end', usec: usec -%>
			</div>
		</div>

	</div>
</li>