<nav class="navbar navbar-vertical navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/admin">Admin Menu</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">

			<%= content_tag :li, link_to('Pages', admin_pages_path) -%>
			<%= content_tag :li, link_to('Navigation Menu', admin_menu_items_path) -%>
			<hr>
			<%= content_tag :li, link_to('Destinations', admin_destinations_path) -%>
			<%= content_tag :li, link_to('Casinos', admin_casinos_path) -%>
			<hr>
			<%= content_tag :li, link_to('Cruises', admin_cruises_path) -%>
			<%= content_tag :li, link_to('Ports', admin_ports_path) -%>
			<%= content_tag :li, link_to('Ships', admin_venues_path) -%>
			<%= content_tag :li, link_to('Attractions', admin_attractions_path) -%>
			<%#= content_tag :li, link_to('Ships', '#admin_ships_path') -%>
			<hr>
			<%= content_tag :li, link_to('Events', admin_events_path) -%>
			<hr>
			<%= content_tag :li, link_to('Flights', admin_flights_path) -%>
			<hr>
			<%= content_tag :li, link_to('Testimonials', admin_testimonials_path) -%>

		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
