<%= link_to attraction, class: 'list-group-item' do %>
	<div class="list-group-item-text media">
		<div class="media-left">
			<% if attraction.pictures.any? -%>
			<%= image_tag attraction.pictures.first.image_url(:thumb) -%>
			<% end -%>
		</div>
		<div class="media-body">
			<%= content_tag :h4, attraction.name, class: 'media-heading' -%>
			<%= attraction.rendered_content -%>
		</div>
	</div>
<% end %>
